<h1>Syncretizzle</h1>
<p><i>when literary syncretism meets shizzle</i></p>

<h2>Round 1: Facebook</h2>

<% @first_round.each do |p| %>
<%= p.content %> </br></br>
<% end %>


<h2>Round 2: Classics</h2>
<% @second_round.each do |p| %>
<%= p.content %> </br></br>
<% end %>


<h2>Result</h2>

<% if @result != nil %>
<p><%= @result.content %></p>
<% end %>

<p></p>
